
html {
    height: 100%; /* Ensure the body fills the viewport height */
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #6c63ff;
    color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

.gallery-container {
    width: 80%;
    margin: 5rem auto 2rem auto;
    text-align: center;
}

.image-display {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    height: 400px;
}

.image-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.controls {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    background: #6c63ff;
    color: #fff;
    border: none;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

button:hover {
    background: #5349c7;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 0.5rem 0; /* Reduced padding */
    font-size: 0.8rem; /* Smaller font size */
    width: 100%;
}

#prevBtn {
    font-size: 0.6rem;
}

#nextBtn {
    font-size: 0.6rem;
}
